{% extends "base_generic.html" %}

{% block title %}
  <title>{{ item.name }}</title>
{% endblock title %}

{% block content %}
  <div class="page-title">
    <h1>{{ item.name }}</h1>
    <a title="Edit" href="{% url 'item-update' in_project=item.in_project.id in_itemlist=item.in_itemlist.name name=item.name %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'item-delete' in_project=item.in_project.id in_itemlist=item.in_itemlist.name name=item.name %}">
      <i class="cil-x"></i>
    </a>
  </div> <!-- page-title and icons -->

  <hr class="page-title-hr">

  <p>{{ item.description }}</p>

{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ item.name }}</th>
    </thead>
    <tr>
      <th>Itemlist</th>
      <td><a href="{{ item.in_itemlist.get_absolute_url }}">{{ item.in_itemlist.name }}</a></td>
    </tr>
    <tr>
      <th>Item Type</th>
      <td>{{ item.item_type }}</td>
    </tr>
    <tr>
      <th>Cost</th>
      <td>{{ item.item_cost }}</td>
    </tr>
  </table>
{% endblock rightsidebar %}
