{% extends "SovereignWebsite/base_generic.html" %}

{% block title %}
  <title>{{ empire.name }}</title>
{% endblock title %}

{% block content %}
  <div class="page-title">
    <h1>{{ empire.name }}</h1>
    <a title="Edit" href="{% url 'empire-update' in_universe=empire.in_universe.id pk=empire.pk %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'empire-delete' pk=empire.pk %}"><i class="cil-x"></i></a>
  </div> <!-- page-title and icons -->
  
  <hr class="page-title-hr">
  
  <p>{{ empire.description }}</p>

{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ empire.name }}</th>
    </thead>
    <tr>
      <th>Universe</th>
      <td><a href="{{ empire.in_universe.get_absolute_url }}">{{ empire.in_universe }}</a></td>
    </tr>
    <tr>
      <th>Regions</th>
      <td>
        <ul>
        {% for region in empire.regions.all %}
          <li><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th>Faiths</th>
      <td>
        <ul>
        {% for god in empire.faiths.all %}
          <li><a href="{{ god.get_absolute_url }}">{{ god.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock rightsidebar %}
