{% extends "SovereignWebsite/base_generic.html" %}

{% block title %}
  <title>{{ npc.name }}</title>
{% endblock title %}

{% block content %}
  <div class="page-title">
    <h1>{{ npc.name }}</h1>
    {% if npc.in_faction %}
      <a title="Edit" href="{% url 'npc-update' in_universe=npc.in_universe.id in_faction=npc.in_faction.id pk=npc.pk %}">
        <i class="cil-pencil"></i>
      </a>
    {% else %}
      <a title="Edit" href="{% url 'npc-update' in_universe=npc.in_universe.id pk=npc.pk %}">
        <i class="cil-pencil"></i>
      </a>
    {% endif %}
    <a title="Delete" href="{% url 'npc-delete' pk=npc.pk %}"><i class="cil-x"></i></a>
  </div> <!-- page-title and icons -->
  
  <hr class="page-title-hr">
  
  <p>{{ npc.description }}</p>

{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ npc.name }}</th>
    </thead>
    <tbody>
      {% if npc.portrait %}
      <td colspan="2">
        <img id="image" src="{{ npc.portrait }}" class="img-fluid mx-auto d-block" style="max-width: 200px;">
        <div id="imageModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content img-portrait" id="modalImage">
        </div>
      </td>
      {% endif %}
    </tbody>
    <tr>
      <th>Universe</th>
      <td><a href="{{ npc.in_universe.get_absolute_url }}">{{ npc.in_universe }}</a></td>
    </tr>
    <tr>
      <th>Alignment</th>
      <td>{{ npc.get_alignment_display }}</td>
    </tr>
    <tr>
      <th>Faiths</th>
      <td>
        <ul>
        {% for god in npc.faiths.all %}
          <li><a href="{{ god.get_absolute_url }}">{{ god.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th>Faction</th>
      <td><a href="{{ npc.in_faction.get_absolute_url }}">{{ npc.in_faction }}</a></td>
    </tr>
    <tr>
      {% if locations.count > 1 %}
      <th>Locations</th>
      {% else %}
      <th>Location</th>
      {% endif %}
      <td>
        <ul>
        {% for location in locations %}
          <li><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock rightsidebar %}

{% block additionalscripts %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/imagemodals.js' %}"></script>
{% endblock additionalscripts %} 
