{% extends "SovereignWebsite/base_generic.html" %}

{% block leftsidebar %}
{% endblock leftsidebar %}


{% block content %}
  <div class="page-title">
    <h1>{{ region.name }}</h1>
    <a title="Edit" href="{% url 'region-update' in_universe=region.in_universe.id pk=region.pk %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'region-delete' pk=region.pk %}"><i class="cil-x"></i></a>
  </div> <!-- page-title and icons -->
  
  <hr class="page-title-hr">
  
  <p>{{ region.description }}</p>
  
  
  <div class="table-title">
    <h2>Areas</h2>
    <a title="Add" href="{% url 'area-create' in_region=region.id %}"><i class="cil-plus"></i></a>
  </div> <!-- table-title -->
  
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Area</th>
        <th>Type</th>
        <th>Locations</th>
      </tr>
    </thead>
    <tbody>
    {% for area in region.area_set.all %}
      <tr>
        <td><a href="{{ area.get_absolute_url }}">{{ area.name }}</a></td>
        <td>{{ area.area_type }}</td>
        <td>{{ area.location_set.all.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <div class="table-title">
    <h2>Cities</h2>
    <a title="Add" href="{% url 'city-create' in_region=region.id%}"><i class="cil-plus"></i></a>
  </div> <!-- table-title -->
  
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>City</th>
        <th>Quarters</th>
      </tr>
    </thead>
    <tbody>
    {% for city in region.city_set.all %}
      <tr>
        <td><a href="{{ city.get_absolute_url }}">{{ city.name }}</a></td>
        <td class="num">{{ city.cityquarter_set.all.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    
      
{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
  <thead class="thead-dark">
    <th colspan="2" class="sidebar-table">{{ region.name }}</th>
  </thead>
  <tbody>
      {% if region.landscape %}
      <td colspan="2">
        <img id="image" src="{{ region.landscape }}" class="img-fluid mx-auto d-block">
        <div id="imageModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="modalImage">
        </div>
      </td>
      {% endif %}
    </tbody>
    <tr>
      <th>Universe</th>
      <td><a href="{{ region.in_universe.get_absolute_url }}">{{ region.in_universe }}</a></td>
    </tr> 
    <tr>
      <th>Empire</th>
      <td>
        <ul>
        {% for empire in region.empire_set.all %}
          <li><a href="{{ empire.get_absolute_url }}">{{ empire.name }}</a></li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Biome</th>
      <td>{{ region.get_biome_display }}</td>
    </tr>
  </table>
{% endblock rightsidebar %}
