{% extends "SovereignWebsite/base_generic.html" %}

{% block leftsidebar %}
{% endblock leftsidebar %}

{% block content %}
  <div class="page-title">
    <h1>{{ roomset.name }}</h1>
    <a title="Edit" href="{% url 'roomset-update' in_dungeon=roomset.in_dungeon.id pk=roomset.pk %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'roomset-delete' pk=roomset.pk %}"><i class="cil-x"></i></a>
  </div>
  
  <hr class="page-title-hr">
  
  <p>{{ roomset.description }}</p>
  
  <div class="table-title">
    <h2>Rooms</h2>
    <a href="{% url 'room-create' in_roomset=roomset.id %}"><i class="cil-plus"></i></a>
  </div>
  
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Encounters</th>
      </tr>
    </thead>
    <tbody>
    {% for room in roomset.room_set.all %}
      <tr>
        <td>{{ room.room_number }}</td>
        <td><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></td>
        <td>{{ room.encounter_set.all.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th colspan="2" class="sidebar-table">{{ roomset.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Dungeon</th>
        <td><a href="{{ roomset.in_dungeon.get_absolute_url }}">{{ roomset.in_dungeon }}</a></td>
      </tr>
    </tbody>
  </table>
{% endblock rightsidebar %}
