{% extends "SovereignWebsite/base_generic.html" %}

{% block content %}
  <div class="page-title">
    <a title="Index" class="storage-icon" href="{% url 'universe-index' pk=universe.id%}">
      <i class="cil-storage"></i>
    </a>
    <h1>{{ universe.name }}</h1>
    <a title="Edit" href="{% url 'universe-update' in_project=universe.in_project.id pk=universe.pk %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'universe-delete' pk=universe.pk %}"><i class="cil-x"></i></a>
  </div> <!-- page-title and icons -->
    
  <hr class="page-title-hr">
  
  <p>{{ universe.description }}</p>
  
  <hr>
  
  <div class="row">
  <!-- #EMPIRES -->
    <div class="col-6">
      <div class="section-title">
        <h2>Empires</h2>
        <a title="Add" href="{% url 'empire-create' in_universe=universe.id %}"><i class="cil-plus"></i></a>
      </div> <!-- section-title -->
      
      <ul>
      {% for empire in empires %}
        <li><a href="{{ empire.get_absolute_url }}">{{ empire.name }}</a></li>
      {% endfor %}
      </ul>
    </div> <!-- col-6 -->
  <!-- #END EMPIRES -->
  
  <!-- #REGIONS -->  
    <div class="col-6">
      <div class="section-title">
        <h2>Regions</h2>
        <a title="Add" href="{% url 'region-create' in_universe=universe.id %}"><i class="cil-plus"></i></a>
      </div> <!-- section-title -->
      
      <ul>
        {% for region in regions %}
          <li><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
        {% endfor %}
      </ul>
    </div> <!-- col-6 -->
  <!-- #END REGIONS -->
  </div> <!-- row -->
    
  <!-- #FACTIONS -->
  <div class="row">
    <div class="col-6">
      <div class="section-title">
        <h2>Factions</h2>
        <a title="Add" href="{% url 'faction-create' in_universe=universe.id %}"><i class="cil-plus"></i></a>
      </div> <!-- section-title -->
      
      <ul>
      {% for faction in factions %}
        <li><a href="{{ faction.get_absolute_url }}">{{ faction.name }}</a></li>
      {% endfor %}
      </ul>
    </div> <!-- col-6 -->
  <!-- #END FACTioNS -->
  
  <!-- #NPCs -->
    <div class="col-6">
      <div class="section-title">
        <h2>Unaligned NPCs</h2>
        <a title="Add" href="{% url 'npc-create' in_universe=universe.id %}"><i class="cil-plus"></i></a>
      </div> <!-- section-title -->
      
      <ul>
      {% for npc in unaligned_npcs %}
        <li><a href="{{ npc.get_absolute_url }}">{{ npc.name }}</a></li>
      {% endfor %}
      </ul>
    </div> <!-- col-6 -->
  <!-- #END NPCs -->
  </div> <!-- row -->
  
  <div class="row">
    <div class="col-6">
      <div class="section-title">
        <h2>Pantheons & Gods</h2>
        <a title="Add" href="{% url 'pantheon-create' in_universe=universe.id %}"><i class="cil-plus"></i></a>
      </div> <!-- section-title -->
      
      <ul>
      {% for pantheon in pantheons %}
        <li><a href="{{ pantheon.get_absolute_url }}">{{ pantheon.name }}</a></li>
      {% endfor %}
      </ul>
    </div> <!-- col-6 -->
  <!-- #END PANTHEONS -->
  </div> <!-- row -->
    
{% endblock content%}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ universe.name }}</th>
    </thead>
    <tr>
      <th>Project</th>
      <td><a href="{{ universe.in_project.get_absolute_url }}">{{ universe.in_project.title }}</a></td>
    </tr>
  </table>
{% endblock rightsidebar %}
