{% extends "SovereignWebsite/base_generic.html" %}

{% block content %}
  <div class="page-title">
    <h1>{{ worldencounter.encounter_num }}. {{ worldencounter.title }}</h1>
    {% if worldencounter.in_dungeon_room %}
      <a title="Edit" href="{% url 'worldencounter-update' in_dungeon_room=worldencounter.in_dungeon_room.id pk=worldencounter.pk %}">
        <i class="cil-pencil"></i>
      </a>
      <a title="Delete" href="{% url 'worldencounter-delete' in_dungeon_room=worldencounter.in_dungeon_room.id pk=worldencounter.pk %}">
        <i class="cil-x"></i>
      </a>
    {% else %}
      <a title="Edit" href="{% url 'worldencounter-update' in_location=worldencounter.in_location.id pk=worldencounter.pk %}">
        <i class="cil-pencil"></i>
      </a>
      <a title="Delete" href="{% url 'worldencounter-delete' in_location=worldencounter.in_location.id pk=worldencounter.pk %}">
        <i class="cil-x"></i>
      </a>
    {% endif %}
    
  </div> <!-- page-title and icons -->
  
  <hr class="page-title-hr">

  <div class="row">
    <div class="col-2">
    </div> <!-- col-2 -->
    <div class="col">
      <p class="flavor-text">{{ worldencounter.flavor_text }}</p>
    </div> <!-- col -->
    <div class="col-2">
    </div> <!-- col-2 -->
  </div> <!-- row -->
  
  <hr class="page-title-hr">
  
  <p class="dramatic-question">{{ worldencounter.dramatic_question }}</p>
  
  <p>{{ worldencounter.summary }}</p>
  
{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ worldencounter.title }}</th>
    </thead>
    <tr>
    {% if worldencounter.in_dungeon_room %}
      <th>Dungeon Room</th>
      <td><a href="{{ worldencounter.in_dungeon_room.get_absolute_url }}">{{ worldencounter.in_dungeon_room }}</a></td>
    {% elif worldencounter.in_location %}
      <th>Location</th>
      <td>
        <a href="{{ worldencounter.in_location.get_absolute_url }}">{{ worldencounter.in_location }}</a>
      </td>
    {% endif %}
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ worldencounter.get_encounter_type_display }}</td>
    </tr>
    <tr>
      <th>NPCs</th>
      <td>
        <ul>
        {% for npc in worldencounter.involved_npcs.all %}
          <li><a href="{{ npc.get_absolute_url }}">{{ npc.name}}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th>Loot
        <a title="Add" href="{% url 'worldencounterloot-create' in_worldencounter=worldencounter.id %}">
          <i class="cil-plus table-icon"></i>
        </a>
      </th>
      <td>
        <ul>
        {% for loot in worldencounter.worldencounterloot_set.all %}
          <li><a href="{{ loot.name.get_absolute_url }}">{{ loot.name }}</a> ({{ loot.quantity }}x)
            <a href="{% url 'worldencounterloot-delete' pk=loot.id %}"><i class="cil-x table-icon"></i></a>
          </li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock rightsidebar %}
