{% extends "base_generic.html" %}

{% block title %}
  <title>{{ campaign.title }}</title>
{% endblock title %}

{% block content %}
  <div class="page-title">
    <a title="Index" class="storage-icon" href="{{ campaign.get_absolute_index_url }}">
      <i class="cil-storage"></i>
    </a>
    <h1>{{ campaign.title }}</h1>
    <a title="Edit" href="{% url 'campaign-update' in_project=campaign.in_project.id title=campaign.title %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'campaign-delete' in_project=campaign.in_project.id title=campaign.title %}">
      <i class="cil-x"></i>
    </a>
  </div> <!-- page-title and icons -->
  <hr class="page-title-hr">

  <p>{{ campaign.overview }}</p>

  <div class="table-title">
      <h2>Chapters</h2>
      <a title="Add" href="{% url 'chapter-create' in_project=campaign.in_project.id in_campaign=campaign.title %}"><i class="cil-plus"></i></a>
  </div> <!-- table-title -->

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Chapter Title</th>
        <th>Regions</th>
      </tr>
    </thead>
    <tbody>
    {% for chapter in chapters %}
      <tr>
        <td class="num">{{ chapter.chapter_num }}</td>
        <td><a href="{{ chapter.get_absolute_url}}">{{ chapter.title }}</a></td>
        <td>
          {% for region in chapter.regions.all %}
            <a href="{{ region.get_absolute_url }}">{{ region.name }}</a> |
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ campaign.title }}</th>
    </thead>
    <tr>
      <th>Project</th>
      <td><a href="{{ campaign.in_project.get_absolute_url }}">{{ campaign.in_project.title }}</a></td>
    </tr>
    <tr>
      <th>Universe</th>
      <td><a href="{{ campaign.in_universe.get_absolute_url }}">{{ campaign.in_universe }}</a></td>
    </tr>
  </table>
{% endblock rightsidebar %}
