{% extends "base_generic.html" %}

{% block title %}
  <title>{{ chapter.title }}</title>
{% endblock title %}

{% block content %}
  <div class="page-title">
    <h1>{{ chapter.title }}</h1>
    <a title="Edit" href="{% url 'chapter-update' in_project=chapter.in_project.id title=chapter.title %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'chapter-delete' in_project=chapter.in_project.id title=chapter.title %}">
      <i class="cil-x"></i>
    </a>
  </div> <!-- page-title and icons -->
  <hr class="page-title-hr">

  <p>{{ chapter.summary }}</p>

{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ chapter.title }}</th>
    </thead>
    <tr>
      <th>Campaign</th>
      <td><a href="{{ chapter.in_campaign.get_absolute_url }}">{{ chapter.in_campaign }}</a></td>
    </tr>
    <tr>
      <th>Preceded By</th>
      <td>
        <ul>
        {% for previous in preceded_by %}
          <li><a href="{{ previous.get_absolute_url }}">{{ previous.title }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>

    <tr>
      <th>Followed By</th>
      <td>
        <ul>
        {% for next in followed_by %}
          <li><a href="{{ next.get_absolute_url }}">{{ next.title }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th>Regions</th>
      <td>
        <ul>
        {% for region in chapter.regions.all %}
          <li><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>

    <tr>
      <th>NPCs</th>
      <td>
        <ul>
        {% for npc in chapter.involved_npcs.all %}
          <li><a href="{{ npc.get_absolute_url }}">{{ npc.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>

  <div class="table-title">
      <h4>Main Quests</h4>
      <a title="Add" href="{% url 'quest-create' in_project=chapter.in_project.id in_chapter=chapter.title %}">
        <i class="cil-plus"></i>
      </a>
  </div> <!-- table-title -->

  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Encounters</th>
      </tr>
    </thead>
    <tbody>
    {% for quest in main_quests %}
      <tr>
        <td>{{ quest.quest_num }}</td>
        <td><a href="{{ quest.get_absolute_url }}">{{ quest.title}}</a></td>
        <td>{{ quest.questencounter_set.all.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="table-title">
      <h4>Side Quests</h4>
      <a title="Add" href="{% url 'quest-create' in_project=chapter.in_project.id in_chapter=chapter.title %}">
        <i class="cil-plus"></i>
      </a>
  </div> <!-- table-title -->

  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Encounters</th>
      </tr>
    </thead>
    <tbody>
    {% for quest in side_quests %}
      <tr>
        <td>{{ quest.quest_num }}</td>
        <td><a href="{{ quest.get_absolute_url }}">{{ quest.title}}</a></td>
        <td>{{ quest.questencounter_set.all.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock rightsidebar %}
