{% extends "base_generic.html" %}

{% block title %}
  <title>{{ pantheon.name }}</title>
{% endblock title %}}

{% block content %}
  <div class="page-title">
    <h1>{{ pantheon.name }}</h1>
    <a title="Edit" href="{% url 'pantheon-update' in_universe=pantheon.in_universe.id pk=pantheon.pk %}">
      <i class="cil-pencil"></i>
    </a>
    <a title="Delete" href="{% url 'pantheon-delete' pk=pantheon.pk %}"><i class="cil-x"></i></a>
  </div> <!-- page-title and icons -->
  
  <hr class="page-title-hr">
  
  <p>{{ pantheon.background }}</p>
  
  <div class="table-title">
    <h2>Gods</h2>
    <a title="Add" href="{% url 'god-create' in_pantheon=pantheon.id %}"><i class="cil-plus"></i></a>
  </div>
  
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>God</th>
        <th>Alignment</th>
      </tr>
    </thead>
    <tbody>
    {% for god in pantheon.god_set.all %}
      <tr>
        <td><a href="{{ god.get_absolute_url }}">{{ god.name }}</a></td>
        <td>{{ god.get_alignment_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block rightsidebar %}
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <th colspan="2" class="sidebar-table">{{ pantheon.name }}</th>
    </thead>
    <tr>
      <th>Universe</th>
      <td><a href="{{ pantheon.in_universe.get_absolute_url }}">{{ pantheon.in_universe }}</a></td>
    </tr>
  </table>
{% endblock rightsidebar %}
