{% extends 'base_generic.html' %}
{% load theLodge_tags %}

{% block title %}
  <title>The Lodge</title>
{% endblock title %}

{% block content %}

  <div class="page-title">
    <h1>The Lodge</h1>
  </div>

  <hr class="page-title-hr">

<table class="table table-sm table-hover table-striped">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Game System</th>
    <th>Type</th>
    <th>Shared By</th>
  </thead>
  <tbody>
  {% for object in shared_objects %}
    <tr>
      <td>
        <a href="{{ object.get_absolute_url}}">{{ object.name }}</a>
      </td>
      <td>{{ object.game_system }}</td>
      <td>{{ object | get_model_name }}</td>
      <td>{{ object.shared_by }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock content %}
